@charset "utf-8";

// Rio 类名
$rio-class:                    rio                                                                                      !default;


// 文字
// ---------------------------

// 字体大小
$rio-font-size-base:           if(variable-exists("font-size-base"), $font-size-base, 14px)                             !default;

// 文字行高
$rio-line-height:              1.75                                                                                     !default;


// 颜色
// ---------------------------

// 文本颜色
$rio-text-color:               if(variable-exists("text-color"), $text-color, #333)                                     !default;

// 次要文本颜色
$rio-text-color-quiet:         if(variable-exists("text-color-quiet"), $text-color-quiet, #999)                         !default;

// 强调文本颜色
$rio-text-color-loud:          if(variable-exists("text-color-loud"), $text-color-loud, #222)                           !default;

// 链接颜色
$rio-link-color:               if(variable-exists("link-color"), $link-color, #428bca)                                  !default;
$rio-link-hover-color:         if(variable-exists("link-hover-color"), $link-hover-color, #2a6496)                      !default;
$rio-link-focus-color:         if(variable-exists("link-focus-color"), $link-focus-color, $rio-link-hover-color)        !default;
$rio-link-active-color:        if(variable-exists("link-active-color"), $link-active-color, $rio-link-hover-color)      !default;
$rio-link-visited-color:       if(variable-exists("link-visited-color"), $link-visited-color, $rio-link-color)          !default;

// 块级元素边框颜色（若需要）
$rio-block-el-border-color:    #f0f0f0                                                                                  !default;

// 块级元素背景颜色（若需要）
$rio-block-el-bg-color:        #fafafa                                                                                  !default;

// 块级元素
// ---------------------------

// 块级元素的上外边距
$rio-block-el-margin-top:      1.27em;

// 块级元素的下外边距
$rio-block-el-margin-bottom:   1.27em;


// 标题
// ---------------------------

// 文字加粗
$rio-title-weight:             600                                                                                      !default;

// 行高 -f
$rio-title-line-height:        1.5em                                                                                    !default;

// 上外边距 -f
$rio-title-margin-top:         1.2em                                                                                    !default;

// 下外边距 -f
$rio-title-margin-bottom:      0.8em                                                                                    !default;

$rio-h1-size:                  2.2em                                                                                    !default;       // 一级标题文字大小
$rio-h2-size:                  1.8em                                                                                    !default;       // 二级...
$rio-h3-size:                  1.4em                                                                                    !default;       // 三级...
$rio-h4-size:                  1.2em                                                                                    !default;       // 四级...
$rio-h5-size:                  1.0em                                                                                    !default;       // 五级...
$rio-h6-size:                  0.9em                                                                                    !default;       // 六级...

// 列表
// ---------------------------

// 左外边距
$rio-list-margin-left:         2em                                                                                      !default;

// mark
// ---------------------------

// 背景色 -f
$rio-mark-bg:                  #fffda0                                                                                  !default;

// 内边距 -f
$rio-mark-padding:             1px 0                                                                                    !default;

// code
// ---------------------------

// 代码文字大小
$rio-code-size:                0.9em                                                                                   !default;

// 代码字体
$rio-code-family:              Menlo, Monaco, Consolas, "Courier New", monospace                                        !default;

// 行内代码的字体颜色
// $rio-code-color:            #555                                                                                     !default;

// 行内代码的背景颜色
$rio-code-bg:                  #f7f7f7                                                                                  !default;

// 代码块行高
$rio-code-block-line-height:   1.48                                                                                     !default;

// 分割线
// ---------------------------

// 分割线宽度
$rio-hr-width:                 1px                                                                                      !default;

// 分割线样式
$rio-hr-style:                 solid                                                                                    !default;

// 分割线颜色
$rio-hr-color:                 $rio-block-el-border-color                                                               !default;
