# 一些编译器生成的临时文件
*~
\#*\#

# 日志文件
*.log

# windows 的缩略图文件
Thumbs.db

# node.js 的依赖模块存储目录
node_modules/

# sea.js 的依赖模块存储目录
sea-modules/

# sass/scss 的编译缓存文件存储目录
.sass-cache/

# 大多静态站点生成工具默认存放生成页面的目录
_site/

#-----------------------------
# 项目相关
#-----------------------------
