body {
    font: 13px/1.48 "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
    color: #333;
    margin: 0;
}

a {
    color: #428BCA;
}

#page {
    position: relative;
    width: 700px;
    margin: 0 0 0 37%;
    padding: 50px;
}

#page.displayed {
    width: 660px;
    font-size: 14px;
    margin: 50px auto;
}

#catalogue {
    width: 37%;
    height: 100%;

    position: fixed;
    left: 0;
    top: 0;
    
    background: #f0f0f0;

    overflow: hidden;
    _overflow: auto;
}

#catalogue-list {
    margin: 60px 3em 3em 3em;
    float: right;
}

#catalogue .simplebar-track {
    width: 16px;
}

#catalogue .simplebar-scrollbar {
    width: 4px;
    right: 6px;
}

#catalogue .simplebar-scrollbar:before {
    background: #999;
}

#catalogue .simplebar-track.horizontal {
    height: 16px;
    width: auto;
}

#catalogue .simplebar-track.horizontal .simplebar-scrollbar {
    height: 4px;
    bottom: 6px;
    
    width: auto;
    right: auto;    
}

#catalogue a {
    color: #333;
}

#catalogue:hover {
    overflow: auto;
}

.rio .tagline {
    font-size: 13px;
    color: #999;
    margin-bottom: 30px;
}

.rio .show-box {
    border: 1px solid #ddd;
    padding: 1em;
    border-radius: 4px;
}

.rio .show-title-box h1,
.rio .show-title-box h2,
.rio .show-title-box h3,
.rio .show-title-box h4,
.rio .show-title-box h5,
.rio .show-title-box h6 {
    margin: 0;
}

.rio .show-title-box hr {
    margin: 15px 0;
}

.rio .show-block-box :first-child {
    margin-top: 0;
}

.rio .show-block-box :last-child {
    margin-bottom: 0;
}
